    .wrapper_wallet_content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .wrapper_wallet_content>h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #fff;
        height: 0;
        margin: 0;
        padding-bottom: 50px;
    }
    
    .wrapper_info_wallets {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
    }
    
    .wraper_donut_chart {
        display: flex;
        flex-wrap: wrap;
        width: 28%;
        height: 200px;
        background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0F0B38 93.37%);
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    
    .wraper_donut_chart>.donut_chart {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .wraper_donut_chart>.donut_chart>.recharts-responsive-container>.recharts-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        margin: 0;
    }
    
    .wraper_donut_chart>.donut_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-surface {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin: 0;
    }
    
    .wraper_donut_chart>.donut_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-surface>.recharts-pie {
        transform: scale(1.5, 1.5) translate(-70px, 40px);
    }
    
    .wraper_donut_chart>.donut_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-surface>.recharts-pie:nth-child(2)>g>.custom_label {
        transform: translate(0px, -20px);
    }
    
    .wraper_donut_chart>.donut_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-legend-wrapper>ul {
        width: 100%;
        margin: 0;
    }
    
    .wraper_donut_chart>.donut_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-legend-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 40%;
        margin-top: 50px;
        margin-left: 20px;
    }
    
    .wraper_donut_chart>.donut_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-legend-wrapper>ul>li:first-child,
    .wraper_donut_chart>.donut_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-legend-wrapper>ul>li:nth-child(2) {
        padding-bottom: 15px;
    }
    
    .wraper_donut_chart>.donut_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-surface>.recharts-pie>g:nth-child(4) {
        transform: translate(0, -35px);
    }
    
    .wrapper_wallets {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        height: 200px;
        margin-left: auto;
    }
    
    .wrapper_wallet {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: scroll;
    }
    
    .items_wallet {
        display: flex;
        flex-wrap: wrap;
        min-width: 36%;
        margin-right: 24px;
        background: linear-gradient(237.07deg, rgba(96, 67, 146, 0.5) -8.06%, rgba(15, 11, 56, 0.5) 96.63%);
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    
    .items_wallet:last-child {
        margin-right: 0;
    }
    
    .items_wallet>h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        height: 0;
        margin: 0;
        padding-top: 15px;
        padding-left: 24px;
    }
    
    .items_wallet>.coin {
        display: flex;
        align-items: center;
        width: 80px;
        height: 80px;
        margin: 20px 10px 0 auto;
        background: rgba(77, 51, 127, 0.5);
        border-radius: 50%;
    }
    
    .items_wallet>.coin>.coin_two {
        display: flex;
        align-items: center;
        width: 66px;
        height: 66px;
        margin: 0 auto;
        background: #644696;
        border-radius: 50%;
    }
    
    .items_wallet>.coin>.coin_two>.icon {
        width: 40px;
        height: 40px;
    }
    
    .usd_price {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: auto;
    }
    
    .usd_price>p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        height: 0;
        margin: 0;
    }
    
    .wrapper_spendings_transactioins {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
        margin-top: 20px;
    }
    
    .wrapper_spendings {
        display: flex;
        flex-wrap: wrap;
        width: 49%;
        margin-right: auto;
        background: linear-gradient(176.95deg, rgba(27, 18, 78, 0.2) -32.8%, #0F0B38 88.83%);
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    
    .wrapper_spendings>.line_chart {
        height: 100%;
        margin-top: 0;
    }
    
    .wrapper_spendings>.line_chart>.recharts-responsive-container {
        max-width: 100%;
        min-height: 80%;
    }
    
    .wrapper_spendings>.line_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-surface>.recharts-cartesian-axis {
        transform: translate(0px, 30px);
    }
    
    .wrapper_spendings>.line_chart>.recharts-responsive-container>.recharts-wrapper>.recharts-surface>.recharts-brush {
        transform: scale(0.98, 0.25) translate(10px, 1200px);
    }
    
    .wrapper_transactioins {
        display: flex;
        flex-wrap: wrap;
        width: 49%;
        margin-left: auto;
        background: linear-gradient(176.95deg, rgba(27, 18, 78, 0.2) -32.8%, #0F0B38 88.83%);
        border-radius: 5px;
    }
    
    .wrapper_transactions_top {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 70px;
        text-transform: uppercase;
    }
    
    .wrapper_transactions_top>h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        padding-top: 16px;
        padding-left: 18px;
        margin: 0;
        height: 0;
    }
    
    .wrapper_transactions_top>hr {
        width: 95%;
        height: 0;
        border: 1px solid #2D317A;
        margin: 40px auto 0 auto;
    }